.hotel-map{
    height:400px;
    width:400px;

}

.main-hotel-page{
    display: flex; 
    
}

.hotel-name{
    display: flex;
    width: 70%; 
    margin-left: 20px;
    border: 1px solid #d7cfcf;
   
 

}

.hotel-name div{
    margin: 5px;
}

.primary-image {
    width: 400px;
    height: 388px;  
 
  }

  .pic-2{
    display: flex;
    flex-direction: column;
   
  }

.secondary-images{
    height: 186px;
    width: 190px;
  
}
.h-name{
    display: flex;
    flex-direction: column;
    margin-top:30px;
    padding-left: 20px;
 
}
.date-picker{
    display: flex;
    margin-top:30px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #d7cfcf;
    padding: 10px;
    border-radius: 50px;
    background: linear-gradient(to right, #cc33ff 0%, #ff99cc 100%)
   
}
.modal-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
.modal-all{
    display: flex;
    flex-direction: column;
    
}

.modal-all button{
    border: none;
    background-color: transparent;
    margin-top: -10px;
}


.amenity-boxes{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #d7cfcf;
}
.property-type{
    color: red;
    
}

.booking{
    margin-left:800px ;
    margin-top: 25px;

}
.booking button{
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 250px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to bottom, #33ccff 0%, #cc00cc 100%);
    
}

.price-section{
    display: flex;
    color: #4CAF50 ;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 20px;
}
.price-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.review-container {
    width: 600px;
    margin-top: 20px;
  }
  
  .review-input {
    width: 100%;
    max-width: 500px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color:  #007bff;
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .submit-button:hover {
    background-color: #0056b3; 
  }    
  
  .display-review{
    width: 600px;
    margin-top: 20px;
  
   
  }

  .single-review{
    border: 1px solid #d7cfcf;
    border-radius: 10px;
    margin: 5px;
    height: auto;
  }
  
  .review-name-rating{
    display: flex;
    justify-content: space-between;
  }
